
th {
    
    font-size: larger;
    text-align: center;
    margin: auto;
    padding: 10px;
    vertical-align: middle;
}

.table .btn-success {
    background-color: #16c21b;
    font-weight: 350;

    letter-spacing: 1.6px;
    font-size: 18px;
}
.table .btn-success:hover {
    background-color: #16b31b;
    color: black;
}
.top-row {
    
    letter-spacing: 2px;
    font-weight: 270;
    font-size: x-large;
    color:whitesmoke ;
    background-color: rgb(55, 55, 55);
}
.top-row td{
    
    padding: 15px;
}